body {
	background-color : #000;
	margin : 0px;
	padding : 0px;
	color : #fff;
	overflow: hidden;
}

#instructions {
  color: white;
  position:absolute;
  z-index: 1;
  margin: 10px;
}

#canvas-3d {
  position:absolute;
  z-index: 0;
}