body {
	background-color : #326696;
	margin : 0px;
	padding : 0px;
	color : #fff;
	overflow: hidden;
}

a {
  color:#0078ff;
}

#instructions {
  color: white;
  position:absolute;
  z-index: 1;
  margin: 10px;
}

#player {
  display:inline-block;
  vertical-align: middle;
}

#ocean-button {
  display:inline-block;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
}

#rain-button {
  display:inline-block;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
}

#canvas-3d {
  position:absolute;
  z-index: 0;
}